h1 {
    font-family: "Trebuchet MS", Verdana, Sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.catCol {
    width: 200px;
    height: 25px;
    vertical-align: top;
}

.inLabel {
    width: 150px;
    text-align: right;
}

#cabcontentId, #ALLcabcontentId {
    font-family: "Courier New", "Lucida Console", monospace;
}